# Ignorar archivos de configuración y metadatos de Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# Ignorar archivos de configuración específicos de Eclipse
*.launch
.settings/
.classpath
.project

# Ignorar archivos de compilación
target/
build/

# Ignorar lockfiles y otros temporales
*.lock
